openai
langchain
langchain-text-splitters
langchain-openai
langchain-community
docarray
langchain-pinecone
pinecone
youtube-transcript-api
python-dotenv
tiktoken
scikit-learn
numpy
openai-whisper
yt-dlp
imageio-ffmpeg
ipykernel
ipywidgets
